<h1>
  Total pokemon detected: {{totalPokemonsNumber}}
</h1>
<div class="row">
    <div *ngFor="let pokemon of pokemons">
        <div class="col-sm-4 col-md-3">
            <mat-card [routerLink]="['/' + pokemon.id]">
              <mat-card-header>
                <div mat-card-avatar >
                  <img class="avatar" [src]="pokemon.imagePath" alt={{pokemon.name}}>
                </div>
                <mat-card-title>{{pokemon.name}}</mat-card-title>
                <mat-card-subtitle>#{{pokemon.id}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image [src]="pokemon.imagePath" alt={{pokemon.name}}>
              <mat-card-content>
                <p>
                  {{pokemon.description | slice:0:50}}...
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>

    </div>
</div>


